#header{
    height: 300px;
    background-color: #fc0;
}

#main{
    width: 50%;
    float: left;
    height: 500px;
    background-color: #fc0cf0;
}
#sub{
    width: 50%;
    float: right;
    height: 500px;
    background-color: #0cf;
}
#footer{
    clear: both;
    height: 500px;
    background-color: #000;
}