#header{
    height: 500px;
    background-color: #fco;
}

#main{
    height: 500px;
    background-color: #fc0cf0;
}
#sub{
    height: 500px;
    background-color: #0cf;
}
#footer{
    height: 500px;
    background-color: #000;
}